# -*- coding: utf-8 -*-
"""
Created on Fri Apr  7 20:27:07 2023

@author: user
"""

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    padding: 30px;
    width: 500px;
}

h2 {
    font: bold, 30px;
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}
button
{
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 16px;
    font: bold, 16px;
}

